<!DOCTYPE html>
<html>

<head>
    <style>
        .table-container {
            display: flex;
            justify-content: center;
            gap: 20px; /* Adjust the gap between tables */
        }
        .table-container table {
            margin-right: 20px;
        }
        table {
            border-collapse: collapse;

        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="table-container">
                    <form method="post" action="/process_form">
    <select name="selectLeft">
        {{str_select | safe}}
    </select>
    <select name="selectRight">
        {{str_select | safe}}
    </select>
    <button type="submit">Отправить</button>
</form>
        <a href="{{ url_for('date', date1=101) }}">Go to Another Page</a>
        <table>


            {{ df1.to_html(classes="dataframe") | safe }}
        </table>
        <table>

            {{ df2.to_html(classes="dataframe") | safe }}
        </table>
    </div>
</body>
</html>